td {
  width: 20px;
  height: 20px;
  border: 1px dotted black;
  margin: 0px;
  padding: 0px;
}

tr {
  padding: 0px;
}

.fruit {
  background: green;
}

.snake {
  background: red;
}

.empty {
  background: #D3DBA7;
}

.shit {
  background: blue;
}