.disc {
  background: red;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: 1px solid black;


}

button.reset {

}

td {
  border: 1px solid black;
  background: gray;
  width: 200px;
  margin-bottom: 0px;
}

td.highlight {
  background: green;
}

td.selected {
  background: blue;
}

.highlight > div {
  border-color: yellow;
}


#disc1 {
  width: 80px;
}

#disc2 {
  width: 120px;
}

#disc3 {
  width: 160px;
}

p {
  color: blue;
}